 
 {{#each this}}
  <li class="country-item">
    <img class="country-item__image" src="{{flags.svg}}" alt="flag" widht="50px" height ="25px">
    <h1 class="country-item__name">{{name.official}}</h1>
</li>
 {{/each}}